<title>Hunter's Website| Game Guide Page</title>
<html>
<H1><b>Game Guide</b></H1>
<head id="style">
<link rel="stylesheet" type="text/css" href="CSS/main/css-0003.css" id="link"/>
 </head> 
 <iframe src="RON.html" name="iframe_a" style="width=900px;height=1000px;"></iframe>
<br>
 <div id="menu" style="background-color:#FFD700;height:90%;width:300px;float:left;">
 <b>Menu</b>
 <br>
<p><a href="RON.html" target="iframe_a">Rise of Nations</a></p>
 <br>
<p><a href="AOE3.html" target="iframe_a">Age of Empires 3</a></p>
 <br>
<p><a href="CIV4.html" target="iframe_a">Civilization Four</a></p>
<br>
<p><a href="SPORE.html" target="iframe_a">Spore</a></p>
 </div>
<br>
<script>
today = new Date();
day = today.getDay();
if (day == 0){document.getElementById("link").href="CSS/GameGuide/CSS-0003.1GG.css";}
if (day == 1){document.getElementById("link").href="CSS/GameGuide/CSS-0003.2GG.css";}
if (day == 2){document.getElementById("link").href="CSS/GameGuide/CSS-0003.3GG.css";}
if (day == 3){document.getElementById("link").href="CSS/GameGuide/CSS-0003.4GG.css";}
if (day == 4){document.getElementById("link").href="CSS/GameGuide/CSS-0003.5GG.css";}
if (day == 5){document.getElementById("link").href="CSS/GameGuide/CSS-0003.6GG.css";}
if (day == 6){document.getElementById("link").href="CSS/GameGuide/CSS-0003GG.css";}
</script>
</body>