<title>Hunter's Website| Language</title>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/main/css-0003.css" id="link"/>
</head>
<H1>English to BiRoKaBuToRoBuVo</H1>
<body lang=EN-US style='tab-interval:.5in' id="Lang">
<iframe src="Translator.html" width="100%" height="125" frameborder="0"></iframe>
<div class=WordSection1>

<p>&nbsp;</p>
<p>A=Ro</p>
<p>B=Ze</p>
<p>C=Ma</p>
<p>D=Ku</p>
<p>E=Vo</p>
<p>F=Ta</p>
<p>G=Bu</p>
<p>H=Ji</p>
<p>I=Zo</p>
<p>J=Ci</p>
<p>K=Ni</p>
<p>L=Bi</p>
<p>M=Va</p>
<p>N=Ka</p>
<p>O=Ba</p>
<p>P=Zi</p>
<p>Q=Ju</p>
<p>R=Ve</p>
<p>S=Me</p>
<p>T=Su</p>
<p>U=To</p>
<p>V=Be</p>
<p>W=Fa</p>
<p>X=Fe</p>
<p>Y=Wu</p>
<p>Z=Ki</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
How to say the vowels:</p>
<p>&nbsp;</p>
<p>A= A (Like what Canadians say)</p>
<p>E= Eh</p>
<p>I= Eye</p>
<p>O=Oh</p>
<p>U= Uh</p>
<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Common Words:</p>
<p>What- Zat</p>
<p>Good- Krot</p>
<p>Bad-Tex</p>
<p>Later- Mux</p>
<p>You-Som</p>
<p>Hi-Jizo</p>
<p>Bye-Zal</p>
<p>Elliott- VoMaZi</p>
<p>Cody- MaRoSu</p>
<p>Jaskrit-CiMe</p>
<p>Hunter-JiMaZe</p>
<p>&nbsp;</p>
</form>
</div>
<script>
today = new Date();
day = today.getDay();
if (day == 0){document.getElementById("link").href="CSS/main/CSS-0003.1.css";}
if (day == 1){document.getElementById("link").href="CSS/main/CSS-0003.2.css";}
if (day == 2){document.getElementById("link").href="CSS/main/CSS-0003.3.css";}
if (day == 3){document.getElementById("link").href="CSS/main/CSS-0003.4.css";}
if (day == 4){document.getElementById("link").href="CSS/main/CSS-0003.5.css";}
if (day == 5){document.getElementById("link").href="CSS/main/CSS-0003.6.css";}
if (day == 6){document.getElementById("link").href="CSS/main/CSS-0003.css";}
</script>
</body>
</html>