<title>Hunter's Website| Website Favorites Page</title>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/main/css-0003.css" id="link"/>
 </head>
<h1>My Favorite Links</h1>
<body id="link-school">
<h3>School</h3>
<p>This is for links to helena school district #1.</p>
<a href=https://www.pearsonsuccessnet.com/snpapp/login/login.jsp?showLoginPage=true\>Click to go to Honor's Alegebra 1</a>
<br>
<a href=http://moodle2.hsd1.org> Click to go to Moodle 2</a>
<br>
<a href=http://www.ixl.com> Click to go to IXL Math</a>
<br>
<a href=http://www.dictionary.com> Click to go to a dictionary</a>
<br>
<a href=http://www.lizardpoint.com/fun/geoquiz/> Click to go to Lizard Point Geography Quiz</a>
<br>
<br>
</body>
<body id="link-games">
<h3>Games</h3>

<p>These are some fun games I play on the internet.</p>
<a href=http://www.gamegarage.com/game/age-of-war-2/> Click to play Age of War II</a>
<br>
<a href=http://www.gamegarage.com/game/zone-of-war/> Click to play Zone of War</a>
<br>
<a href=http://www.coolmath-games.com/0-coffee-shop/index.html> Click to play Coffee Shop</a>
<br>
<a href=http://www.coolmath-games.com/0-sugar-sugar/index.html> Click to play Sugar Sugar</a>
<br>
<a href=http://www.coolmath-games.com/0-papas-pizzeria/index.html> Click to play Papa's Pizzeria</a>
<br>
<a href=http://www.roblox.com> Click to go to Roblox</a>
<br>
<p>These are the websites I got the games off of.</p>
<a href=http://www.gamegarage.com/> Game Garage</a>
<br>
<a href=http://www.coolmath-games.com/> Cool Math Games</a>
</body>
<body id="link-browsers">
<h3>Browsers</h3>
<a href=http://www.google.com> Go to Google</a>
<br>
<a href=http://www.bing.com> Go to Bing</a>
<h3>Other Websites</h3>
<a href=http://www.lego.com> Go to Lego's Homepage</a>
<br>
<a href=https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/?shva%3D1&ss=1&scc=1&ltmpl=default&ltmplcache=2> Go to Gmail</a>
<br>
<a href=http://www.w3schools.com/html/default.asp> Go to W3 schools html learning website!!</a>
<br>
<a href=http://www.cnn.com/studentnews/> Learn what is happening in the world with CNN Student News.</a>
<br>
<a href=http://todaysair.mt.gov/> In the summer see if it is safe to play sports with the Montana Air Quality website.</a>
<br>
<script>
today = new Date();
day = today.getDay();
if (day == 0){document.getElementById("link").href="CSS/main/CSS-0003.1.css";}
if (day == 1){document.getElementById("link").href="CSS/main/CSS-0003.2.css";}
if (day == 2){document.getElementById("link").href="CSS/main/CSS-0003.3.css";}
if (day == 3){document.getElementById("link").href="CSS/main/CSS-0003.4.css";}
if (day == 4){document.getElementById("link").href="CSS/main/CSS-0003.5.css";}
if (day == 5){document.getElementById("link").href="CSS/main/CSS-0003.6.css";}
if (day == 6){document.getElementById("link").href="CSS/main/CSS-0003.css";}
</script>
</body>
</html>