 body {background-color:black}
a
{
border-style:solid;
border-color:lime;
}
a:link,a:visited
{display:block;
font-weight:bold;
color:black;
background-color:lime;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;}
a:hover,a:active
{background-color:black;
color:lime;
text-decoration:underline;}
}